@model IEnumerable<ServiceLayer.Models.Admin>

@{
    ViewBag.Title = "ListAdmins";
}

<h2>ListAdmins</h2>

@Html.TextBox("SearchAdmin")
<input type="submit" value="Search" formmethod="get"/>

<p>
    @Html.ActionLink("Add Admin", "CreateAdmin", "Create")
</p>

<table class="table">
    <thead class="thead-default">
        <tr>Name</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>@Html.ActionLink("Edit", "EditAdmin", "Update", new { id = item.AdminID }, null)</td>
                <td>@Html.ActionLink("Details", "AdminDetails", "List", new { id = item.AdminID }, null)</td>
                <td>@Html.ActionLink("Delete", "DeleteAdmin", "Delete", new { id = item.AdminID }, null)</td>
            </tr>
        }
    </tbody>
</table>